.register-form input[type="text"],
.register-form input[type="date"],
.register-form input[type="password"],
.register-form input[type="email"],
.register-form input[type="radio"] {
  font-size: 1.2em;
  color: var(--light);
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid var(--light);
  margin-top: .5em;
}

.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  position: relative;
  padding: 30px 40px;
  border-radius: 8px;
}

.register-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 50px;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
}

.register-form::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 50px;
  border-bottom: 2px solid lightgray;
  border-right:  2px solid lightgray;
}

.register-form h2 {
  text-align: baseline;
  margin-bottom: 20px;
  font-size: 2em;
}

.register-input {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.row-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.row-2 {
  width: 100%;
}

.row-2 input {
  width: 100%;
}

.row-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1em;
}

.row-3 .col-1 {
  flex: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light);
  display: flex;
  justify-content: baseline;
}

.row-3 .col-1 input {
  border: none;
  padding-left: 10px;
  cursor: pointer;
}

.row-3 .col-2 {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light);
}

.row-3 .col-2 input {
  cursor: pointer;
}

.register-form button {
  width: 100%;
  padding: .5em;
  margin-top: .5em;
  font-size: 1em;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--light);
  border-color: var(--light);
  color: var(--light);
  border-radius: 4px;
  transition: .2s ease-in-out;
}

.register-form button:hover {
  border-color: var(--light);
  color: var(--dark);
  background-color: var(--light);
}

.register-link {
  text-align: center;
  margin-top: 12px;
  font-size: 1em;
}

.register-link a {
  padding: 5px;
  font-weight: bold;
  color: var(--light);
}

.register-link a:hover {
  text-decoration: underline;
}
