section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1em 0 5px;
  border-bottom: 1px solid var(--light);
}

.todo-item-task {
  cursor: pointer;
}

.todo-item-actions {
  display: flex;
  gap: .30em;
  /* align-self: flex-end; */
}

.todo-item-action {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}

.todo-item-action:hover {
  opacity: 1;
}

#icon-edit:hover {
  color: lightblue;
}

#icon-trash:hover {
  color: red;
}